* {
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 3px;

    background-color: #FAF3F0;
    height: 100vh;
}

#header {
    display: flex;

    background-color: #DBC4F0;
    width: 96%;
    margin: 0% 2%;
    border-radius: 5px;
}

#header>div {
    flex: 1;

    border: solid 1px white;
    padding: 5px;
    margin: 5px;
    background-color: #d9f0c4;
    text-align: center;
}

#header>div:hover {
    border: groove 1px black;
}

#header>div>a:link, a:visited, a:active {
    text-decoration: none;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;

    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;

    background-color: #FFCACC;
    border-radius: 5px;
}

#content>span {
    flex: 1;
    display: flex;

    margin: 5px;
    padding: 5px;
    border: #FAF3F0 solid 1px
}

#content>span>p {
    flex: 1;

    margin: auto;
}