{% extends 'base.html' %}

{% block contentBlock %}
    <span id="about-plans">
        <p>Image Here</p>
        <p>Ever had trouble organising and keeping track of plans with your friends? Plans is the website to take care of that!</p>
    </span>
    <span id="why-plans">
        <p>Using Plans, you can create plans while scheduling them, share plans with friends and also get added to their plans!</p>
        <p>Image Here</p>
    </span>
    <span id="using-plans">
        <p>Image Here</p>
        <p>Just getting started? Create an account and then head over to the <b>Create Plans</b> page!</p> 
    </span>
{% endblock contentBlock %}